.reporte-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.reporte-container h1 {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    color: #373b46;
}

.pie {
    display: flex;
    width: 50%;
    height: auto;
    justify-content: center;
}

@media (max-width: 600px) {
    .reporte-container {
        flex-direction: row; /* Cambia a fila en pantallas pequeñas */
    }
}